<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/myfonts.css' %}">

</head>
<body>
    <!-- Header -->
    <header>
        <img id="header-image" src="{% static 'myapp/images/StayPandaHere.png' %}" alt="Logo">
        <button class="menu-toggle">&#9776;</button> <!-- Ícono de menú -->
    </header>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <button class="close-btn" id="close-button">&times;</button> <!-- Botón cerrar -->
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'nuevo' %}" class="semilight" style="font-size: 14px; text-align: left;">Ofrecer Habitaciones</a></li>
                <li><a href="{% url 'home' %}" class="semilight" style="font-size: 14px; text-align: left;">Buscar Habitacion</a></li>
                <li><a href="{% url 'logout' %}" class="semilight" style="font-size: 14px; text-align: left;">Cerrar Sesion</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="semilight" style="font-size: 14px; text-align: left;">Iniciar Sesion</a></li>
                <li><a href="{% url 'alert' %}" class="semilight" style="font-size: 14px; text-align: left;">Ofrecer Habitaciones</a></li>
                <li><a href="{% url 'home' %}" class="semilight" style="font-size: 14px; text-align: left;">Buscar Habitacion</a></li>
            {% endif %}
            <hr style="color: rgb(255, 255, 255); width: 190px; border: 2px solid; border-radius: 10px; margin-left: 15px; margin-top: 170px;">
            <li><a href="#" class="semilight" style="font-size: 14px; text-align: left;">¿Dudas?</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2" id="PrimerColumna">
                <p style="margin-top: 20px;font-size: 18px;color: #608d96;" class="semilight" ><strong>Tipo de habitaciones</strong></p>

                <!-- Categorias -->
                <p><strong class="light" style="font-size: 13px; color: #4c7077;margin-top: 20px;">Categorías</strong></p>
                <div class="checkbox-group">
                    <input type="checkbox" id="Habitación Personal" name="Habitación Personal" class="filtro">
                    <label for="Habitación Personal" >Habitación Personal</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="Habitación Doble" name="Habitación Doble" class="filtro">
                    <label for="Habitación Doble">Habitación Doble</label>
                </div>

                <!-- Precios -->
                <p><strong class="light" style="font-size: 13px;color: #4c7077;margin-top: 20px;">Precios</strong></p>
                <div class="checkbox-group">
                    <input type="checkbox" id="preciomediobajo" name="250-300" class="filtro">
                    <label for="preciomediobajo">S/250 - S/300</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="preciomedioalto" name="300-350" class="filtro">
                    <label for="preciomedioalto">S/300 - S/350</label>
                </div>

                <!-- Condiciones -->
                <p><strong class="light" style="font-size: 13px;color: #4c7077;margin-top: 20px;">Condiciones</strong></p>
                <div class="checkbox-group">
                    <input type="checkbox" id="Petfriendly" name="Petfriendly" class="filtro">
                    <label for="Petfriendly">Petfriendly</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="Baño Propio" name="Baño Propio" class="filtro">
                    <label for="Baño Propio">Baño Propio</label>
                </div>
            </div>
            
            <div class="col" id="SegundaColumna">
                
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2" style="margin-top: 30px;">
                </div>

                <!-- LA TABLA ESTA OCULTA EN EL HTML PERO SI AFECTA A LA PAGINA SI SE LE AÑADE MAS FILAS
                     ESTO SOLO ES PARA LA PRUEBA DE QUE FUNCIONA, SE DEBE DE CONFIGURAR PARA TRABAJAR CON
                     MYSQL (NO BORRAR PARA UTILIZAR EN CASO DE EMERGENCIA) -->
                <table class="table d-none">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Condición</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-filtrada">
                        <tr>
                            <th scope="row">1</th>
                            <td>Habitación para estudiantes</td>
                            <td>Santa Anita</td>
                            <td>260</td>
                            <td>Habitación Personal</td>
                            <td>Baño Propio</td>
                            <td>https://img10.naventcdn.com/avisos/111/00/66/08/31/43/360x266/354558257.jpg?isFirstImage=true</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Habitación para parejas</td>
                            <td>Santa Anita</td>
                            <td>310</td>
                            <td>Habitación Doble</td>
                            <td>Petfriendly</td>
                            <td>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5rgLiYoJhoYikkhsE3TYZXzje6E86Cp1ybw&s</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Habitación en alquiler para persona</td>
                            <td>Santa Anita</td>
                            <td>310</td>
                            <td>Habitación Doble</td>
                            <td>Baño Propio</td>
                            <td>https://http2.mlstatic.com/D_NQ_NP_699524-MLM76028892684_052024-O.webp</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Habitación individual</td>
                            <td>Santa Anita</td>
                            <td>310</td>
                            <td>Habitación Doble</td>
                            <td>Baño Propio</td>
                            <td>https://imganuncios.mitula.net/departamento_jesus_maria_2_dormitorios_sin_muebles_con_terraza_6650112674219044997.jpg</td>
                        </tr>
                        
                        <!-- Puedes agregar más filas según necesites -->
                    </tbody>
                </table>
                
                <div id="cards-container" class="row"></div> <!-- Contenedor para los cards -->
            </div>
        </div>
    </div>

    <footer>
        Aquí va el contenido del footer.
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // Boton de menu
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = '250px';
        });

        document.querySelector('.close-btn').addEventListener('click', function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = '0';
        });

        window.onclick = function(event) {
            var sidebar = document.getElementById("sidebar");
            if (event.target == sidebar) {
                sidebar.style.width = '0';
            }
        }

        $(document).ready(function(){
            filtrarTabla(); // Llama a la función filtrarTabla al cargar la página

            $(".filtro").change(function(){
                filtrarTabla();
            });

            $(".form-control").on("input", function(){
                filtrarTabla();
            });

            function filtrarTabla() {
                $("#cards-container").empty(); // Limpiamos los cards anteriores
                var filtros = [];
                $(".filtro:checked").each(function(){
                    filtros.push($(this).attr("name"));
                });

                var busqueda = $(".form-control").val().trim().toLowerCase();

                $("#tabla-filtrada tr").each(function(){
                    var fila = $(this);
                    var nombre = fila.find("td:nth-child(2)").text(); // Obtener el nombre de la fila
                    var ubicacion = fila.find("td:nth-child(3)").text(); // Obtener la ubicación de la fila
                    var precio = fila.find("td:nth-child(4)").text(); // Obtener el precio de la fila
                    var imagen = fila.find("td:nth-child(7)").text(); // Obtener la imagen de la fila

                    var textoFila = fila.text().toLowerCase();
                    var mostrarFila = true;

                    // Verificar si la fila pasa los filtros seleccionados
                    for(var i = 0; i < filtros.length; i++){
                        if (filtros[i].includes("-")) {
                            var rango = filtros[i].split("-");
                            var minPrecio = parseInt(rango[0]);
                            var maxPrecio = parseInt(rango[1]);
                            var precioFila = parseInt(precio);
                            if (precioFila < minPrecio || precioFila > maxPrecio) {
                                mostrarFila = false;
                                break;
                            }
                        } else {
                            if (!textoFila.includes(filtros[i].toLowerCase())) {
                                mostrarFila = false;
                                break;
                            }
                        }
                    }

                    // Verificar si la fila pasa la búsqueda por texto
                    if (busqueda !== "" && !textoFila.includes(busqueda)) {
                        mostrarFila = false;
                    }

                    // Si la fila pasa todos los filtros, crear la tarjeta correspondiente
                    if (mostrarFila) {
                        var nombreLimitado = nombre.length > 30 ? nombre.substring(0, 30) + "..." : nombre;
                        var cardHTML = `
                            <div class="col-4 card-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="photo" style="background-image: url('${imagen}'); background-size: cover; background-position: center; width: 100%; height: 210px; border-radius: 10px; margin-bottom: 20px;"></div>
                                        <h5 class="card-title">${nombreLimitado}</h5>
                                        <p class="card-text">Ubicación: ${ubicacion}</p>
                                        <p class="card-text">Precio: ${precio}</p>
                                    </div>
                                </div>
                            </div>
                        `;

                        // Agregar el card al contenedor
                        $("#cards-container").append(cardHTML);
                    }
                });
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
