<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/myfonts.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <!-- Header -->
    <header>
        <img id="header-image" src="{% static 'myapp/images/StayPandaHere.png' %}" alt="Logo">
        <button class="menu-toggle">&#9776;</button> <!-- Ícono de menú -->
    </header>

    <!-- Navigation Icons -->
    <div class="nav-icons" style="margin: 30px;">
        

        <a href="{% url 'home' %}" style="color: rgb(61, 75, 105);">
            <i class="fas fa-home" style="color: rgb(61, 75, 105);"></i></i> Habitaciones
        </a>

        <a href="#map-section" id="map-link" style="color: rgb(61, 75, 105);">
            <i class="fas fa-map-marker-alt" style="color: rgb(61, 75, 105);"></i> Mapa
        </a>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <button class="close-btn" id="close-button">&times;</button> <!-- Botón cerrar -->
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'user' %}" class="semilight" style="font-size: 14px; text-align: left;">Mi perfil</a></li> <!-- Nuevo enlace -->
                <li><a href="{% url 'nuevo' %}" class="semilight" style="font-size: 14px; text-align: left;">Ofrecer Habitaciones</a></li>
                <li><a href="{% url 'home' %}" class="semilight" style="font-size: 14px; text-align: left;">Buscar Habitacion</a></li>
                <li><a href="{% url 'logout' %}" class="semilight" style="font-size: 14px; text-align: left;">Cerrar Sesion</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="semilight" style="font-size: 14px; text-align: left;">Iniciar Sesion</a></li>
                <li><a href="{% url 'alert' %}" class="semilight" style="font-size: 14px; text-align: left;">Ofrecer Habitaciones</a></li>
                <li><a href="{% url 'home' %}" class="semilight" style="font-size: 14px; text-align: left;">Buscar Habitacion</a></li>
            {% endif %}
            <hr style="color: rgb(255, 255, 255); width: 190px; border: 2px solid; border-radius: 10px; margin-left: 15px; margin-top: 170px;">
            <li><a href="#" class="semilight" style="font-size: 14px; text-align: left;">¿Dudas?</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2" id="PrimerColumna">
                <p style="margin-top: 20px;font-size: 18px;color: #608d96;" class="semilight"><strong>Tipo de habitaciones</strong></p>

                <!-- Categorias -->
                <p><strong class="light" style="font-size: 13px; color: #4c7077;margin-top: 20px;">Categorías</strong></p>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Habitación Personal" name="Habitación Personal" class="filtro">
                    <label for="Habitación Personal">Habitación Personal</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Habitación Doble" name="Habitación Doble" class="filtro">
                    <label for="Habitación Doble">Habitación Doble</label>
                </div>

                <!-- Condiciones -->
                <p><strong class="light" style="font-size: 13px;color: #4c7077;margin-top: 20px;">Condiciones</strong></p>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Petfriendly" name="Petfriendly" class="filtro">
                    <label for="Petfriendly">Petfriendly</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Baño Propio" name="Baño Propio" class="filtro">
                    <label for="Baño Propio">Baño Propio</label>
                </div>

                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Wi-Fi" name="Wi-Fi" class="filtro">
                    <label for="Wi-Fi">Wi-Fi</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Estacionamiento" name="Estacionamiento" class="filtro">
                    <label for="Estacionamiento">Estacionamiento</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Espacio de Cocina" name="Espacio de Cocina" class="filtro">
                    <label for="Espacio de Cocina">Espacio de Cocina</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Agua caliente" name="Agua caliente" class="filtro">
                    <label for="Agua caliente">Agua caliente</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Amueblado" name="Amueblado" class="filtro">
                    <label for="Amueblado">Amueblado</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Zonas Comunes" name="Zonas Comunes" class="filtro">
                    <label for="Zonas Comunes">Zonas Comunes</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Tendedero" name="Tendedero" class="filtro">
                    <label for="Tendedero">Tendedero</label>
                </div>
                <div class="checkbox-group" style="margin-top: 10px;">
                    <input type="checkbox" id="Restaurante" name="Restaurante" class="filtro">
                    <label for="Restaurante">Restaurante</label>
                </div>

                <!-- Precios -->
                <p><strong class="light" style="font-size: 13px;color: #4c7077;margin-top: 20px;">Precios</strong></p>
                <div class="range-slider">
                    <div>
                        <label for="minPriceRange">Min:</label>
                        <input type="range" class="form-range" id="minPriceRange" min="250" max="1500" step="50" value="250">
                        <span id="minPriceRangeValue">250</span>
                    </div>
                    <div>
                        <label for="maxPriceRange">Max:</label>
                        <input type="range" class="form-range" id="maxPriceRange" min="250" max="1500" step="50" value="1500">
                        <span id="maxPriceRangeValue">1500</span>
                    </div>
                </div>
            </div>
            
            <div class="col" id="SegundaColumna">
                
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2" style="margin-top: 30px;">
                </div>

                <div id="no-results" class="no-results light" style="display: none;"><img src="{% static 'myapp/images/Imagenes StayHere/PandaRojo.png' %}" style="max-height: 200px;max-width: 200px;margin-top: 200px;margin-bottom: 20px;" alt=""> <br>
                    No hay un alojamiento con esas características, aun...</div>
                

                <div id="cards-container" class="row">
                    {% for alojamiento in alojamientos %}
                    <div class="col-md-3 col-6 fade-in">
                        <a href="{% url 'alojamiento_detalle' alojamiento.id %}" style="text-decoration: none; color: inherit;">
                            <div class="card">
                                <div class="card-body">
                                    {% if alojamiento.imagenes.exists %}
                                        <div class="photo" style="background-image: url('{{ alojamiento.imagenes.first.imagen.url }}');"></div>
                                    {% else %}
                                    {% endif %}
                                    <h5 class="card-title" style="margin-top: 10px;">{{ alojamiento.nombre|truncatechars:50 }}</h5>
                                    <p class="card-text">{{ alojamiento.descripcion|truncatechars:50 }}</p>
                                    <p class="card-text price" style="margin-bottom: 10px;">S/.{{ alojamiento.precio }}</p>
                                    <hr>
                                    <div>
                                        {% for caracteristica in alojamiento.caracteristicas|slice:":3" %}
                                            <span class="characteristic-bubble">{{ caracteristica }}</span>
                                        {% endfor %}
                                        {% if alojamiento.caracteristicas|length > 3 %}
                                            <span class="characteristic-bubble">más...</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div> <!-- Contenedor para los cards -->

                <!-- Sección del mapa -->
                <div id="map-section" style="display: none;">
                    <div id="mapa"></div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        Aquí va el contenido del footer.
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap" async defer></script>
    <script>
        // Boton de menu
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = '250px';
        });

        document.querySelector('.close-btn').addEventListener('click', function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = '0';
        });

        window.onclick = function(event) {
            var sidebar = document.getElementById("sidebar");
            if (event.target == sidebar) {
                sidebar.style.width = '0';
            }
        }

        $(document).ready(function(){
            // Desplazamiento y cambio de contenido al hacer clic en el enlace del mapa
            $("#map-link").click(function(e){
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: $("#map-section").offset().top
                }, 500);

                $("#cards-container").hide();
                $("#map-section").show();

                // Inicializar el mapa con Google Maps y añadir los marcadores
                var map = new google.maps.Map(document.getElementById('mapa'), {
                    zoom: 18,
                    center: {lat: -12.043954147829243, lng: -76.95126047028485}
                });

                var coordenadas = {{ coordenadas|safe }};
                coordenadas.forEach(function(coord) {
                    var marker = new google.maps.Marker({
                        position: {lat: coord.latitud, lng: coord.longitud},
                        map: map,
                        title: coord.nombre
                    });
                    marker.addListener('click', function() {
                        window.location.href = '/alojamiento/' + coord.id;
                    });
                });
            });

            filtrarTabla(); // Llama a la función filtrarTabla al cargar la página

            $(".filtro").change(function(){
                filtrarTabla();
            });

            $(".form-control").on("input", function(){
                filtrarTabla();
            });

            $("#minPriceRange, #maxPriceRange").on("input", function(){
                $("#minPriceRangeValue").text($("#minPriceRange").val());
                $("#maxPriceRangeValue").text($("#maxPriceRange").val());
                filtrarTabla();
            });

            function filtrarTabla() {
                var filtros = [];
                $(".filtro:checked").each(function(){
                    filtros.push($(this).attr("name"));
                });

                var busqueda = $(".form-control").val().trim().toLowerCase();
                var minPrecio = parseFloat($("#minPriceRange").val());
                var maxPrecio = parseFloat($("#maxPriceRange").val());

                var hayResultados = false;

                $("#cards-container .card").each(function(){
                    var card = $(this);
                    var textoCard = card.text().toLowerCase();
                    var mostrarCard = true;

                    // Verificar si el card pasa los filtros seleccionados
                    for(var i = 0; i < filtros.length; i++){
                        if (!textoCard.includes(filtros[i].toLowerCase())) {
                            mostrarCard = false;
                            break;
                        }
                    }

                    // Verificar si el card pasa la búsqueda por texto
                    if (busqueda !== "" && !textoCard.includes(busqueda)) {
                        mostrarCard = false;
                    }

                    // Verificar si el card pasa el rango de precios
                    var precio = parseFloat(card.find(".price").text().replace('S/.', ''));
                    if (precio < minPrecio || precio > maxPrecio) {
                        mostrarCard = false;
                    }

                    // Mostrar u ocultar el card según los filtros y búsqueda
                    if (mostrarCard) {
                        card.closest(".col-md-3").show();
                        hayResultados = true;
                    } else {
                        card.closest(".col-md-3").hide();
                    }
                });

                if (hayResultados) {
                    $("#no-results").hide();
                } else {
                    $("#no-results").show();
                }
            }

            // Añadir efecto de desvanecimiento al hacer scroll
            const faders = document.querySelectorAll('.fade-in');

            const appearOptions = {
                threshold: 0,
                rootMargin: "0px 0px -100px 0px"
            };

            const appearOnScroll = new IntersectionObserver(function(entries, appearOnScroll) {
                entries.forEach(entry => {
                    if (!entry.isIntersecting) {
                        return;
                    } else {
                        entry.target.classList.add('visible');
                        appearOnScroll.unobserve(entry.target);
                    }
                });
            }, appearOptions);

            faders.forEach(fader => {
                appearOnScroll.observe(fader);
            });

        });
    </script>
</body>
</html>
