<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/myfonts.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img id="header-image" src="{% static 'myapp/images/StayPandaHere.png' %}" alt="Logo">
        <button class="menu-toggle">&#9776;</button> <!-- Ícono de menú -->
    </header>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <button class="close-btn" id="close-button">&times;</button> <!-- Botón cerrar -->
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'nuevo' %}" class="semilight" style="font-size: 14px; text-align: left;">Ofrecer Habitaciones</a></li>
                <li><a href="{% url 'home' %}" class="semilight" style="font-size: 14px; text-align: left;">Buscar Habitacion</a></li>
                <li><a href="{% url 'logout' %}" class="semilight" style="font-size: 14px; text-align: left;">Cerrar Sesion</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="semilight" style="font-size: 14px; text-align: left;">Iniciar Sesion</a></li>
                <li><a href="{% url 'alert' %}" class="semilight" style="font-size: 14px; text-align: left;">Ofrecer Habitaciones</a></li>
                <li><a href="{% url 'home' %}" class="semilight" style="font-size: 14px; text-align: left;">Buscar Habitacion</a></li>
            {% endif %}
            <hr style="color: rgb(255, 255, 255); width: 190px; border: 2px solid; border-radius: 10px; margin-left: 15px; margin-top: 170px;">
            <li><a href="#" class="semilight" style="font-size: 14px; text-align: left;">¿Dudas?</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2" id="PrimerColumna">
                <p style="margin-top: 20px;font-size: 18px;color: #608d96;" class="semilight" ><strong>Tipo de habitaciones</strong></p>

                <!-- Categorias -->
                <p><strong class="light" style="font-size: 13px; color: #4c7077;margin-top: 20px;">Categorías</strong></p>
                <div class="checkbox-group">
                    <input type="checkbox" id="Habitación Personal" name="Habitación Personal" class="filtro">
                    <label for="Habitación Personal" >Habitación Personal</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="Habitación Doble" name="Habitación Doble" class="filtro">
                    <label for="Habitación Doble">Habitación Doble</label>
                </div>

                <!-- Precios -->
                <p><strong class="light" style="font-size: 13px;color: #4c7077;margin-top: 20px;">Precios</strong></p>
                <div class="checkbox-group">
                    <input type="checkbox" id="preciomediobajo" name="250-300" class="filtro">
                    <label for="preciomediobajo">S/250 - S/300</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="preciomedioalto" name="300-350" class="filtro">
                    <label for="preciomedioalto">S/300 - S/350</label>
                </div>

                <!-- Condiciones -->
                <p><strong class="light" style="font-size: 13px;color: #4c7077;margin-top: 20px;">Condiciones</strong></p>
                <div class="checkbox-group">
                    <input type="checkbox" id="Petfriendly" name="Petfriendly" class="filtro">
                    <label for="Petfriendly">Petfriendly</label>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="Baño Propio" name="Baño Propio" class="filtro">
                    <label for="Baño Propio">Baño Propio</label>
                </div>
            </div>
            
            <div class="col" id="SegundaColumna">
                
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2" style="margin-top: 30px;">
                </div>
                
                <div id="cards-container" class="row">
                    {% for alojamiento in alojamientos %}
                    <div class="col-4 card-margin">
                        <div class="card">
                            <div class="card-body">
                                {% if alojamiento.imagenes.exists %}
                                    <div class="photo" style="background-image: url('{{ alojamiento.imagenes.first.imagen.url }}'); background-size: cover; background-position: center; width: 100%; height: 210px; border-radius: 10px; margin-bottom: 20px;"></div>
                                {% else %}
                                <!-- IGNORAR EL ERROR --> <!-- Proximo a arreglar -->
                                    <div class="photo" style="background-image: url('{% static 'myapp/images/default_image.jpg' %}'); background-size: cover; background-position: center; width: 100%; height: 210px; border-radius: 10px; margin-bottom: 20px;"></div>
                                {% endif %}
                                <h5 class="card-title">{{ alojamiento.nombre }}</h5>
                                <p class="card-text">{{ alojamiento.descripcion }}</p>
                                <p class="card-text">S/.{{ alojamiento.precio }}</p>
                                <p class="card-text">{{ alojamiento.caracteristicas }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- Contenedor para los cards -->
            </div>
        </div>
    </div>

    <footer>
        Aquí va el contenido del footer.
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // Boton de menu
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = '250px';
        });

        document.querySelector('.close-btn').addEventListener('click', function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = '0';
        });

        window.onclick = function(event) {
            var sidebar = document.getElementById("sidebar");
            if (event.target == sidebar) {
                sidebar.style.width = '0';
            }
        }

        $(document).ready(function(){
            filtrarTabla(); // Llama a la función filtrarTabla al cargar la página

            $(".filtro").change(function(){
                filtrarTabla();
            });

            $(".form-control").on("input", function(){
                filtrarTabla();
            });

            function filtrarTabla() {
                var filtros = [];
                $(".filtro:checked").each(function(){
                    filtros.push($(this).attr("name"));
                });

                var busqueda = $(".form-control").val().trim().toLowerCase();

                $("#cards-container .card").each(function(){
                    var card = $(this);
                    var textoCard = card.text().toLowerCase();
                    var mostrarCard = true;

                    // Verificar si el card pasa los filtros seleccionados
                    for(var i = 0; i < filtros.length; i++){
                        if (!textoCard.includes(filtros[i].toLowerCase())) {
                            mostrarCard = false;
                            break;
                        }
                    }

                    // Verificar si el card pasa la búsqueda por texto
                    if (busqueda !== "" && !textoCard.includes(busqueda)) {
                        mostrarCard = false;
                    }

                    // Mostrar u ocultar el card según los filtros y búsqueda
                    if (mostrarCard) {
                        card.closest(".col-4").show();
                    } else {
                        card.closest(".col-4").hide();
                    }
                });
            }
        });
    </script>
</body>
</html>
