<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Alojamiento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/habitaciones.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/myfonts.css' %}">
</head>

<style>
    .map-container {
        position: relative;
        height: 600px;
    }
    textarea {
        resize: none; /* Disable manual resizing */
        overflow: hidden; /* Hide scroll bar */
    }
    .form-check {
        display: inline-block;
        width: 230px;
        height: 50px;
        background-color: white;
        border-radius: 10px;
        margin: 5px;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        font-size: 14px;
        position: relative;
        margin-left: 50px;
    }
    .form-check-input {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        margin: 0;
        width: 20px;
        height: 20px;
        border: 1px solid black; /* Border of the checkbox */
        background-color: white; /* Background color of the checkbox */
    }
    .form-check-label {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 50px;
        color: black;
        margin-bottom: 0;
    }
    .form-check-label i {
        margin-right: 5px;
    }
    .image-container img {
        display: inline-block;
        margin-right: 5px;
        max-width: 100px;
        max-height: 100px;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .cursor-grab {
        cursor: grab;
    }
</style>

<body>
    <!-- Header -->
    <header>
        <img id="header-image" src="{% static 'myapp/images/StayPandaHere.png' %}" alt="Logo">
        <button class="menu-toggle">&#9776;</button> <!-- Ícono de menú -->
    </header>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <button class="close-btn" id="close-button">&times;</button> <!-- Botón cerrar -->
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'user' %}" class="semilight" style="font-size: 14px; text-align: left;">Mi perfil</a></li> <!-- Nuevo enlace -->
                <li><a href="{% url 'nuevo' %}" class="semilight" style="font-size: 14px; text-align: left;">Ofrecer Habitaciones</a></li>
                <li><a href="{% url 'home' %}" class="semilight" style="font-size: 14px; text-align: left;">Buscar Habitacion</a></li>
                <li><a href="{% url 'logout' %}" class="semilight" style="font-size: 14px; text-align: left;">Cerrar Sesion</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="semilight" style="font-size: 14px; text-align: left;">Iniciar Sesion</a></li>
                <li><a href="{% url 'alert' %}" class="semilight" style="font-size: 14px; text-align: left;">Ofrecer Habitaciones</a></li>
                <li><a href="{% url 'home' %}" class="semilight" style="font-size: 14px; text-align: left;">Buscar Habitacion</a></li>
            {% endif %}
            <hr style="color: rgb(255, 255, 255); width: 190px; border: 2px solid; border-radius: 10px; margin-left: 15px; margin-top: 170px;">
            <li><a href="#" class="semilight" style="font-size: 14px; text-align: left;">¿Dudas?</a></li>
        </ul>
    </div>

    <div class="container">
        <form id="alojamiento-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col" style="margin-top: 30px;">
                <p>Información del Alojamiento</p>
            </div>
            <div class="alojamiento-section">
                <div id="container" class="row">
                    <div class="col">
                        <p>Nombra tu alojamiento</p>
                        <div class="input-group mb-3">
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingresa un nombre" aria-label="Enter name" style="height: 50px;" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- MAPA -->
                        <p style="margin-top: 20px;">Ubica tu alojamiento</p>
                        <div class="map-container cursor-pointer" id="map-container">
                            <div id="map" style="height: 100%; width: 100%;"></div>
                        </div>

                        <p style="margin-top: 20px;">Descripción</p>
                        <div class="col">
                            <div class="rounded bg-white p-3" style="margin-bottom: 0; margin-top: 0;">
                                <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Describe tu alojamiento" style="width: 100%;" rows="4" required></textarea>
                            </div>
                        </div>

                        <p style="margin-top: 30px;">Agrega las imágenes de tu alojamiento</p>
                        <div class="slider-container">
                            <input type="file" id="imageUpload" name="imagenes" accept="image/*" multiple required onchange="displayImages(event)">
                            <div id="imagePreviewSlider" class="mt-3"></div>
                        </div>
                        
                        <p style="margin-top: 30px;">Establece tu precio</p>
                        <div class="precio-box">
                            <input type="number" id="precio" name="precio" class="form-control" placeholder="S/." required>
                        </div>

                        <p style="margin-top: 30px;">Selecciona las características del alojamiento</p>
                        <div class="d-flex flex-wrap">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Wi-Fi" id="wifidefibraoptica">
                                <label class="form-check-label" for="wifidefibraoptica">
                                    <i class="fas fa-wifi"></i> Wi-Fi
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Estacionamiento" id="estacionamiento">
                                <label class="form-check-label" for="estacionamiento">
                                    <i class="fas fa-parking"></i> Estacionamiento
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Espacio de Cocina" id="espacioparacocina">
                                <label class="form-check-label" for="espacioparacocina">
                                    <i class="fas fa-utensils"></i> Espacio de Cocina
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Agua caliente" id="duchadeaguacaliente">
                                <label class="form-check-label" for="duchadeaguacaliente">
                                    <i class="fas fa-shower"></i> Agua caliente
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Amueblado" id="amueblado">
                                <label class="form-check-label" for="amueblado">
                                    <i class="fas fa-couch"></i> Amueblado
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Baño Propio" id="bañopropio">
                                <label class="form-check-label" for="bañopropio">
                                    <i class="fas fa-bath"></i> Baño Propio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Pet-Friendly" id="petfriendly">
                                <label class="form-check-label" for="petfriendly">
                                    <i class="fas fa-paw"></i> Pet-Friendly
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Zonas Comunes" id="zonascomunes">
                                <label class="form-check-label" for="zonascomunes">
                                    <i class="fas fa-users"></i> Zonas Comunes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Tendedero" id="tendedero">
                                <label class="form-check-label" for="tendedero">
                                    <i class="fas fa-ellipsis-h"></i> Tendedero
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="caracteristicas" value="Restaurante" id="restaurante">
                                <label class="form-check-label" for="restaurante">
                                    <i class="fas fa-utensils"></i> Restaurante
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn btn-primary">Publicar</button>
                </div>
            </div>
            <input type="hidden" id="latitud" name="latitud">
            <input type="hidden" id="longitud" name="longitud">
        </form>
    </div>

    <!-- "Footer"-->
    <footer>
        Aquí va el contenido del footer.
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=initMap"></script>
    <script>
        function displayImages(event) {
            const fileInput = event.target;
            const files = fileInput.files;
            const sliderContainer = document.getElementById("imagePreviewSlider");

            // Limpiar el slider antes de agregar nuevas imágenes
            sliderContainer.innerHTML = "";

            // Mostrar cada imagen seleccionada en el slider
            for (let i = 0; i < files.length; i++) {
                const file = files[i];

                // Agregar imagen al slider
                const imageContainer = document.createElement("div");
                imageContainer.classList.add("image-container");
                const image = document.createElement("img");
                image.src = URL.createObjectURL(file);
                image.classList.add("img-fluid");
                image.alt = "Image " + (i + 1);
                imageContainer.appendChild(image);
                sliderContainer.appendChild(imageContainer);
            }

            // Initialize the slider after adding images
            $('.slider-container').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: true,
                arrows: true,
                prevArrow: '<button type="button" class="slick-prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span>Previous</span></button>',
                nextArrow: '<button type="button" class="slick-next"><span class="carousel-control-next-icon" aria-hidden="true"></span>Next</span></button>'
            });
        }

        let map;
        let marker;
        let latitude;
        let longitude;

        function initMap() {
            // Coordenadas del centro del mapa
            const uluru = { lat: -12.0442794204298, lng: -76.95116391076502 };

            // Crear el mapa centrado en las coordenadas especificadas
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: uluru
            });

            // Añadir evento de clic para agregar marcador
            map.addListener('click', function(event) {
                addMarker(event.latLng);
            });
        }

        function addMarker(location) {
            // Eliminar el marcador existente si hay uno
            if (marker) {
                marker.setMap(null);
            }

            // Crear un nuevo marcador en la ubicación clickeada
            marker = new google.maps.Marker({
                position: location,
                map: map
            });

            // Centrar el mapa en el nuevo marcador
            map.setCenter(location);

            // Guardar las coordenadas en la tabla
            latitude = location.lat();
            longitude = location.lng();

            // Asignar los valores de latitud y longitud a los campos ocultos
            document.getElementById('latitud').value = latitude;
            document.getElementById('longitud').value = longitude;
        }

        // Asegúrate de que initMap está definida globalmente para que Google Maps pueda acceder a ella
        window.initMap = initMap;

        // Ajustar la altura del textarea automáticamente
        document.getElementById('descripcion').addEventListener('input', function() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });

        // Boton de menu
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = '250px';
        });

        document.querySelector('.close-btn').addEventListener('click', function() {
            var sidebar = document.getElementById("sidebar");
            sidebar.style.width = '0';
        });

        window.onclick = function(event) {
            var sidebar = document.getElementById("sidebar");
            if (event.target == sidebar) {
                sidebar.style.width = '0';
            }
        }
    </script>
</body>
</html>
