header {
    background-color: #421807;
    height: 130px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

header img {
    width: 15%;
    height: auto;
}

body {
    margin: 0; 
    padding: 0; 
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 35px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

p {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.card {
    width: 370px;
    height: 410px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 50px;
}

.photo {
    width: 100%;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

footer {
    background-color: #421807;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.form-control {
    height: 70px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
